/* The box-shadow is the same for every time it is used */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #eceff1;
}

h1 {
  text-align: center;
  padding: 0.5rem 0;
  color: #eceff1;
  margin: 0;
  margin-bottom: 2rem;
  background-color: #1e88e5;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  color: #37474f;
  margin: 0;
}

select,
input:not([type='checkbox']) {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

select {
  width: 100%;
}

input:not([type='checkbox']) {
  width: 85%;
}

button {
  font-size: 1.1rem;
  margin-right: 1rem;
}

label {
  font-size: 1.1rem;
  color: #37474f;
}

nav,
main {
  padding: 1rem;
  margin: 1rem;
  background-color: #cfd8dc;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

summary {
  padding: 0.75rem;
}

/* Opt-in model: subjects only get displayed when a given department is selected */
option.dept-all,
option.dept-ecs,
option.dept-hum,
option.dept-sci,
option.dept-math,
option.dept-inter,
option.dept-paw,
option.dept-life {
  display: none;
}

.dept-all > .dept-all,
.dept-ecs > .dept-ecs,
.dept-hum > .dept-hum,
.dept-sci > .dept-sci,
.dept-math > .dept-math,
.dept-inter > .dept-inter,
.dept-paw > .dept-paw,
.dept-life > .dept-life {
  display: block;
}

/* Opt-out model: subjects and departments are excluded when a given school is selected */
.school-connect > .school-connect,
.school-durham > .school-durham,
.school-morganton > .school-morganton,
.school-online > .school-online {
  display: none;
}


details[open] {
  border-bottom: 1px solid #eceff1;
}

.result-card {
  padding: 0.75rem;
  padding-left: 1rem;
}

footer {
  text-align: center;
  padding: 0.5rem;
}

footer a {
  color: #37474f;
  font-weight: bold;
}

/*

+----------+--------------------+ 1
|          Header               | auto
+----------+--------------------+ 2
|  Search  |                    | auto
+----------+                    + 3
|  Offer   |      Results       | auto
+----------+                    + 4
|          |                    | auto
+----------+--------------------+ 5
|          Footer               | auto
+----------+--------------------+ 6

*/

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto auto;
  }

  header {
    grid-column: 1 / 3;
  }

  nav {
    grid-column-end: 2;
  }

  nav#search-menu {
    grid-row-end: 2 / 3;
  }

  nav#offerings-menu {
    grid-row: 3 / 4;
  }

  main {
    grid-row: 2 / 5;
  }

  footer {
    grid-column: 1 / 3;
  }
}
